@media only screen and (max-width:1660px){
    
}
@media only screen and (max-width:1460px){
    .left_slider,.right_slider{overflow: hidden;}
    .right_slider ul, .left_slider ul{width: 200%;}
    .right_slider ul{float: right;}
    .right_slider ul li,.left_slider ul li{background-position: center;}
}
@media only screen and (min-width:1366px) and (max-width:1366px)
{

}
@media only screen and (max-width:1100px) /* container size */
{

}

@media only screen and (max-width:1024px) /* if tablate and mobile view is same */
{

}

@media only screen and (min-width:960px) and (max-width:1024px)
{

}

@media only screen and (min-width: 768px) and (max-width: 959px)
{

}

@media only screen and (max-width:767px)
{

}
@media only screen and (orientation: landscape) and (max-width:767px)
{
    
}

@media (max-height: 500px)
{

}

@media (max-width:321px)
{

}